body{
scrollbar-face-color: #B0B0B0;
scrollbar-shadow-color: #575757;
scrollbar-highlight-color: #BAB8B8;
scrollbar-track-color: #B0B0B0;
scrollbar-3dlight-color: #C8C8C8;
scrollbar-darkshadow-color: #B0B0B0;
scrollbar-arrow-color: #DEDCDC;
}